* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body{
    background: #f4eded;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 400px;
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #3e00d3;
}

button {
    background: #3e00d3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s ease;
}

button:hover {
    background: #2900a5;
}

.upload-box{
    border: 2px dashed #ccc;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #fafafa;
}